body {
    font-family: Helvetica, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("Stones_Closeup_Equilibrium_Balance_5119582.png") no-repeat center center fixed;
    background-size: cover;
    opacity: 0.5;
    z-index: -1;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo {
    height: 40px;
}

.inicio {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    background-color: transparent;
    padding: 0;
    border: none;
}

.body2 {
    background-color: #fff;
    padding: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 0px;
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    max-width: 400px;
    margin: 100px auto;
    z-index: 0;
}

.body2 h2 {
    margin-bottom: 30px;
    color: #333;
}

.body2 p {
    margin-bottom: 30px;
    color: #666;
}

.input-group {
    display: flex;
    flex-direction: column;
}

.input-group label {
    margin-bottom: 5px;
    text-align: left;
    color: #555;
}

.input-group input[type="password"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 0px;
    box-sizing: border-box;
}

.input-group input[type="hidden"] {
    display: none;
}

.input-group input[type="submit"] {
    padding: 10px;
    border: none;
    background-color: #412bff;
    color: #fff;
    border-radius: 0px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.input-group input[type="submit"]:hover {
    background-color: #0b1d83;
}

/* Estilos para pantallas de hasta 480px */
@media (max-width: 480px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .logo {
        height: 30px;
    }
    
    .inicio {
        font-size: 14px;
    }

    .body2 {
        padding: 15px;
        margin: 80px auto;
    }
    
    .body2 h2 {
        font-size: 1.5em;
    }
    
    .body2 p {
        font-size: 1em;
    }
}

/* Estilos para pantallas de hasta 600px */
@media (max-width: 600px) {
    nav {
        padding: 10px 15px;
    }
    
    .logo {
        height: 35px;
    }
    
    .inicio {
        font-size: 15px;
    }

    .body2 {
        padding: 20px;
        margin: 90px auto;
    }
    
    .body2 h2 {
        font-size: 1.75em;
    }
    
    .body2 p {
        font-size: 1.1em;
    }
}

/* Estilos para pantallas de hasta 1024px */
@media (max-width: 1024px) {
    nav {
        padding: 10px 20px;
    }

    .logo {
        height: 38px;
    }

    .inicio {
        font-size: 16px;
    }

    .body2 {
        padding: 25px;
        margin: 100px auto;
    }
    
    .body2 h2 {
        font-size: 2em;
    }
    
    .body2 p {
        font-size: 1.2em;
    }
}