body {
    font-family: "Helvetica", sans-serif; 
    display: flex;
    justify-content: flex-end; 
    align-items: center;       
    min-height: 100vh;
    overflow-y: auto;
    margin: 0;
    padding: 0;
    /*background-color: #4eb8c0;*/
    background: url('./assets/Fondo.jpeg') no-repeat center center fixed;
    background-size: cover;
    position: relative; 
}

.login-container {
    width: 100%;
    max-width: 500px;
    padding: 10px;
    box-sizing: border-box;
    z-index: 2;
    margin-right: 2%; /* Ajusta el margen izquierdo para la separaci칩n */
}

.login-box {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 0; /* Cambia esto a 0 para bordes rectos */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 300px;
    font-family: "Helvetica", sans-serif; /* Agregar tipo de letra Helvetica */

}

.login-header .user-icon {
    width: 50px;
    height: 50px;
    background-image: url('icono.jpeg'); 
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin: 0 auto 25px auto;
}

h2 {
    color: #000000;
    margin: 0 0 20px 0;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: none; 
    box-sizing: border-box;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: none; 
    background-color: #5078fa;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #00327c;
}

.forgot-password,
.register a {
    color: #0044ff;
    text-decoration: none;
    font-size: 14px;
}

.forgot-password:hover,
.register a:hover {
    text-decoration: underline;
}

.register {
    margin-top: 20px;
    color: #000000;
}

.text-container {
    position: relative; 
    top: 50%; /* Centra verticalmente */
    margin-right: 7%; /* Ajusta el margen derecho para la separaci칩n */
    text-align: center;
    padding: 1rem;
    white-space: nowrap;
    overflow: hidden;
    width: 80%; 
    max-width: 800px; 
    font-family: 'Hanken Grotesk', sans-serif; 
    min-height: 100px; 
    z-index: 1; 
}

.text-4xl {
    font-size: 6rem; 
    font-weight: bold;
    margin-bottom: 1rem;
    color: white; 
}

.text-3xl {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    color: white; 
}

.text-2xl {
    font-size: 2rem;
    color: white; 
}

@keyframes move-text {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    80% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.scrolling-text {
    display: inline-block;
    animation: move-text 4s ease-in-out 0s 1 forwards;
}

@media (max-width: 1200px) {
    .text-4xl {
        font-size: 4rem; 
    }

    .text-3xl {
        font-size: 2rem;
    }

    .text-2xl {
        font-size: 1.5rem;
    }
}

@media (max-width: 768px) {
    .login-box {
        width: 90%;
        padding: 20px;
    }

    .text-container {
        width: 90%; 
    }

    .text-4xl {
        font-size: 3rem;
    }

    .text-3xl {
        font-size: 1.8rem;
    }

    .text-2xl {
        font-size: 1.2rem;
    }
}

@media (max-width: 600px) {
    body {
        flex-direction: column; /* Cambiar a columna para dispositivos m칩viles */
        justify-content: center;
        align-items: center;
    }

    .login-container {
        margin-left: 0; /* Eliminar margen izquierdo */
        margin-bottom: 20px; /* A침adir espacio entre elementos */
    }

    .text-container {
        margin-right: 0; /* Eliminar margen derecho */
        text-align: center; /* Centrar el texto */
    }

    .login-box {
        width: 100%;
        padding: 15px;
    }

    .text-4xl {
        font-size: 2.5rem;
    }

    .text-3xl {
        font-size: 1.5rem;
    }

    .text-2xl {
        font-size: 1rem;
    }
}