/* Estilos generales */
body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    height: 100vh;
    background-image: url('Fondo.png'); /* Ruta de la imagen */
    background-size: cover; /* Asegura que la imagen cubra todo el área del fondo */
    background-position: center; /* Centra la imagen en el área del fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
}


.sidebar {
    width: 20%;
    background-color: #0033cc;
    color: white;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

/* Línea blanca delgada en la barra lateral */
.sidebar::before {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    margin: 400px 0;
    position: absolute;
    bottom: 80px;
    left: 0px;
}

.header {
    margin-bottom: 20px;
}

.header h1 {
    text-align: center;
    margin: 0;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.profile img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%; /* Hace que la imagen tenga forma de círculo */
    object-fit: cover;  /* Ajusta la imagen para que se recorte adecuadamente dentro del círculo */
}

.profile span {
    font-size: 18px;
    cursor: pointer; /* Muestra que es clicable */
    text-decoration: none; /* Asegura que no haya subrayado por defecto */
}

.profile span:hover {
    text-decoration: underline; /* Subraya el texto al pasar el mouse */
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    margin: 20px 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    text-align: center; /* Centra el texto */
    border: 1px solid white; /* Borde blanco */
    background-color: transparent; /* Sin fondo */
    display: block; /* Asegura que el enlace ocupe toda la línea */
    padding: 10px; /* Espaciado alrededor del texto */
}

.main-content {
    width: 80%;
    padding: 20px;
    box-sizing: border-box;
}

.main-content h1 {
    margin: 0 0 10px 0;
    color: #0033cc;
}

.main-content h2 {
    margin: 0 0 20px 0;
    color: #777;
}

.date-tasks {
    margin-bottom: 20px;
}

.date-tasks h3 {
    margin: 0 0 10px 0;
    color: #777; 
    font-size: 20px;
}

.tasks {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

.tasks .task {
    background-color: #0033cc;
    color: white;
    padding: 10px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    border-radius: 5px;
    position: relative;
}

.tasks .task::before {
    content: '';
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    left: 10px;
}

.tasks .task a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    margin-left: 15px; 
}

.tasks .task .task-time {
    font-size: 14px;
    margin-left: auto;
    margin-right: 50px; 
}

.delete-btn {
    background-color: #3660e0;
    color: white;
    border: none;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: 10px;
}

.edit-btn {
    background-color: #3660e0; 
    position: absolute;
    left: 975px;
}

.edit-icon {
    font-weight: bold;
    font-size: 16px;
}

.delete-icon {
    font-weight: bold;
    font-size: 16px;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#taskForm,
#editForm {
    display: flex;
    flex-direction: column;
}

#taskForm label,
#editForm label {
    margin-top: 10px;
}

#taskForm input,
#editForm input {
    padding: 10px;
    margin-top: 5px;
    font-size: 16px;
}

#taskForm button,
#editForm button {
    margin-top: 20px;
    padding: 10px;
    background-color: #0033cc;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

#taskForm button:hover,
#editForm button:hover {
    background-color: #0055ff;
}

#addTaskBtn {
    display: none;
}

/* Media Queries */

/* Para pantallas menores de 768px (tabletas y móviles) */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .main-content {
        width: 100%;
    }

    .sidebar::before {
        bottom: auto; 
        top: 147px; 
        margin: 0; 
    }

    .tasks .task {
        font-size: 14px; 
        padding: 8px; 
    }

    .tasks .task .task-time {
        font-size: 12px; 
    }

    .edit-btn,
    .delete-btn {
        width: 20px;
        height: 20px;
    }
}

/* Para pantallas menores de 480px (móviles pequeños) */
@media (max-width: 480px) {
    .header h1 {
        font-size: 24px; 
    }

    .profile img {
        width: 40px;
        height: 40px;
    }

    .sidebar::before {
        top: 127px; 
    }

    .profile span {
        font-size: 16px;
    }

    .tasks .task {
        font-size: 12px; 
        padding: 6px; 
    }

    .tasks .task .task-time {
        font-size: 10px; 
    }
}

/* Para pantallas 768px a 1024px */
@media (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    .sidebar::before {
        top: -200px; 
    }
}
